[submodule "external/sshash"]
	path = external/sshash
	url = https://github.com/rickbeeloo/sshash.git
[submodule "external/FQFeeder"]
	path = external/FQFeeder
	url = https://github.com/rob-p/FQFeeder.git
[submodule "external/ggcat"]
	path = external/ggcat
	url = https://github.com/algbio/ggcat
